.user:hover {
  cursor: pointer;
  box-shadow: "";
}

/* .searchItem:hover, */
form-control:hover,
.searchItemBox:hover {
  background: #f8f9fa;
  border: none !important;
}

.categorySliderBtn {
  cursor: pointer;
}

.categoryIcon {
  /* background-color: rgb(201, 239, 227); */
}

@media (max-width: 767.98px) {
  .searchItem > .searchItemBox {
    border-right: none !important;
    /* border-bottom: 2px solid #f8f9fa; */
  }
  .form-control-sm {
    background-color: #f8f9fa !important;
  }
  .grid-search-result {
    min-width: 100%;
    margin: auto !important;
  }
  /* .searchItem:hover, */
  form-control:hover,
  .searchItemBox:hover {
    background: transparent;
    border-right: none !important;
  }
}
