/* form-control:hover,
.searchItemBox:hover {
  background: #f8f9fa;
  border: none !important;
}

@media (max-width: 767.98px) {
  .searchItem > .searchItemBox {
    border-right: none !important;
  }
  .form-control-sm {
    background-color: #f8f9fa !important;
  }
  .grid-search-result {
    min-width: 100%;
    margin: auto !important;
  }
  form-control:hover,
  .searchItemBox:hover {
    background: transparent;
    border-right: none !important;
  }
} */
